{% extends 'layout.html' %}

{% block badass_content %}
<h1>Hello </h1>
<p>Hi, I'm <b>Frank</b>.<br>
I'm a student from BUPT.
<br><br>
If you want to contact me, try <a href="mailto:frankfanwei@outlook.com"> my email</a>
<br>
<div class="social-list">
    <a class="linkedin" href="https://www.linkedin.com/in/玮-范-920457139/"><i class="fa fa-linkedin fa-4x"></i></a>
    <a class="github" href="http://github.com/frankfanwei/"><i class="fa fa-github fa-4x"></i></a>
    <a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter fa-4x"></i></a>
    <a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook fa-4x"></i></a>
    <a class="google-plus" href="https://plus.google.com/"><i class="fa fa-google-plus fa-4x"></i></a>
</div>

{% endblock %}
